In [1]:
import pandas as pd
import zipfile

In [2]:
zipfile_name = 'archive(1).zip'   # extracting the file from the zip folder
with zipfile.ZipFile(zipfile_name, 'r') as file:
    file.extractall()

In [3]:
data = pd.read_csv('london_merged.csv')  # reading the csv file using pandas

In [4]:
data.info()  # to get a basic idea of the column names and their data types

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17414 entries, 0 to 17413
Data columns (total 10 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   timestamp     17414 non-null  object
 1   cnt           17414 non-null  int64
 2   t1            17414 non-null  float64
 3   t2            17414 non-null  float64
 4   hum           17414 non-null  float64
 5   wind_speed    17414 non-null  float64
 6   weather_code  17414 non-null  float64
 7   is_holiday    17414 non-null  float64
 8   is_weekend    17414 non-null  float64
 9   season        17414 non-null  float64
dtypes: float64(8), int64(1), object(1)
memory usage: 1.3+ MB

In [5]:
data.shape  # to get an idea of rows and columns in the table

(17414, 10)

In [6]:
new_col = {'timestamp': 'time',
           'cnt': 'count',
           't1' : 'real_temp',
           't2': 'feels_like_temp',
           'hum': 'humidity_percent',
           'wind_speed': 'windspeed_kph',
           'weather_code':'weather',
           'is_holiday':'is_holiday',
           'is_weekend':'is_weekend',
           'season': 'season'}   # creating a dict with column names that I plan to use

#assigning new names to the columns
data.rename(new_col, axis=1, inplace = True)
data.head()

,time,count,real_temp,feels_like_temp,humidity_percent,windspeed_kph,weather,is_holiday,is_weekend,season
0,2015-01-04 00:00:00,182,3.0,2.0,93.0,6.0,3.0,0.0,1.0,3.0
1,2015-01-04 01:00:00,138,3.0,2.5,93.0,5.0,1.0,0.0,1.0,3.0
2,2015-01-04 02:00:00,134,2.5,2.5,96.5,0.0,1.0,0.0,1.0,3.0
3,2015-01-04 03:00:00,72,2.0,2.0,100.0,0.0,1.0,0.0,1.0,3.0
4,2015-01-04 04:00:00,47,2.0,0.0,93.0,6.5,1.0,0.0,1.0,3.0

In [7]:
data.head()

,time,count,real_temp,feels_like_temp,humidity_percent,windspeed_kph,weather,is_holiday,is_weekend,season
0,2015-01-04 00:00:00,182,3.0,2.0,93.0,6.0,3.0,0.0,1.0,3.0
1,2015-01-04 01:00:00,138,3.0,2.5,93.0,5.0,1.0,0.0,1.0,3.0
2,2015-01-04 02:00:00,134,2.5,2.5,96.5,0.0,1.0,0.0,1.0,3.0
3,2015-01-04 03:00:00,72,2.0,2.0,100.0,0.0,1.0,0.0,1.0,3.0
4,2015-01-04 04:00:00,47,2.0,0.0,93.0,6.5,1.0,0.0,1.0,3.0

In [8]:
# as the data contains number values for season creating a new dictonary to use str
season_ = {'0.0': 'spring',
           '1': 'summer',
           '2': 'fall',
           '3': 'winter'}

# doing the same as I did for season to weather

weather_ = {'1.0': 'clear',
            '2.0': 'scattered clouds',
            '3.0': 'broken clouds',
            '4.0':'cloudy',
            '7.0': 'rain',
            '10.0': 'rain with thunderstorm',
            '26.0': 'snowfall'}

#changing the data type of season column from float to str
data.season = data.season.astype('str')  

# mapping the values to season column
data.season = data.season.map(season_)

#doing the same for weather that I did for season just above

data.weather = data.weather.astype('str')

#mapping
data.weather = data.weather.map(weather_)

# confirming the changes
data.head()

,time,count,real_temp,feels_like_temp,humidity_percent,windspeed_kph,weather,is_holiday,is_weekend,season
0,2015-01-04 00:00:00,182,3.0,2.0,93.0,6.0,broken clouds,0.0,1.0,NaN
1,2015-01-04 01:00:00,138,3.0,2.5,93.0,5.0,clear,0.0,1.0,NaN
2,2015-01-04 02:00:00,134,2.5,2.5,96.5,0.0,clear,0.0,1.0,NaN
3,2015-01-04 03:00:00,72,2.0,2.0,100.0,0.0,clear,0.0,1.0,NaN
4,2015-01-04 04:00:00,47,2.0,0.0,93.0,6.5,clear,0.0,1.0,NaN

In [9]:
data.to_excel('london_bikes_final.xlsx', sheet_name= 'Bikes')